.cart-title{
    font-weight: bold;
    font-family: "Lucida Console", "Monaco", monospace;
    text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
    3px 4px 4px rgba(179, 147, 211, 0.15),
    4px 6px 4px rgba(179, 147, 211, 0.2),
    5px 8px 4px rgab(179, 147, 211, 0.25);
    
  margin: auto;
  width: 50%;
  padding: 10px;
}